.exchange_box{
  .card{
    border: 0;
    .card-header{
      background-color: black;
      border-radius: 0;
      color: orange;
      font-weight: 700;
    }
    .card-block{
      padding-top: 10px;
      padding: 20px;
      .title{
        color: orange;
        font-weight: 700;
      }
    }
  }
}
