body {
  background: image-url("/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title-box{
  margin-top: 15%;
  padding: 7%;
  text-align: center;
  .title{
    color: orange;
    text-shadow: 2px 0px 2px #000000;
  }
}

.exchange_box{
    margin: 10px auto;
    .logo-box{
      margin: 0 auto;
padding-bottom: 10px;
  }
}
